/* Sticky footer styles
-------------------------------------------------- */
html,
input,
textarea {
  -webkit-font-smoothing: antialiased !important;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
h1 {
  font-size: 2.6em;
  font-weight: 400;
}
.me {
  font-weight: 900;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */

  margin: 0 auto -60px;
  /* Pad bottom by footer height */

  padding: 0 0 60px;
}
#wrap #content {
  padding-bottom: 15px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  font-size: 14px;
}
#footer.light {
  background: none;
}
#footer.light .item {
  color: #fff;
  background-color: #333;
  opacity: .5;
  padding: 5px 10px;
}
#footer.light .item:hover {
  opacity: .75;
}
#dynamic-cover {
  position: absolute;
  width: 100%;
  background-size: cover;
  z-index: -1;
  /*box-shadow: 0px 5px 20px rgba(50, 50, 50, 0.75);*/

}
.page-header {
  border: none;
  margin-top: 0;
}
.btn {
  font-weight: 300;
}
.buttons .btn {
  margin-bottom: 1em;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#content > .container {
  padding: 80px 15px 0;
}
.covered #content > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
code {
  font-size: 80%;
}
.container .promo {
  font-size: 1em;
  background-color: #ddd;
  color: #333;
  border: #bbb solid 10px;
  padding: 3.4em 4.1em;
  box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.75);
  opacity: 1;
}
.promo h2 {
  font-size: 2em;
  margin-top: 0;
}
.promo .text-muted {
  color: #999;
}
.promo .buttons .btn {
  margin-bottom: 0;
}
/* Timerz-nav
-------------------------------------------------- */
#timerz-nav .ticklogo,
#timerz-nav .ticklogo:hover {
  font-weight: bold;
  font-size: 1.7em;
  background-color: #428bca;
  color: #fff;
}
#timerz-nav .ticklogo {
  opacity: .9;
}
#timerz-nav .mytimers {
  opacity: .5;
  font-weight: 300;
}
#timerz-nav .ticklogo:hover,
#timerz-nav .mytimers:hover {
  opacity: 1;
}
#timerz-nav .mytimers.active {
  font-weight: 500;
}
#timerz-nav .ticklogo span.trans {
  color: #fff;
}
#timerz-nav {
  width: 100%;
  position: fixed;
  z-index: 1040;
  background-color: #fff;
  font-size: 1.1em;
}
#timerz-nav .glyphicon {
  display: none;
}
#timerz-nav .menu,
#timerz-nav .menu li {
  float: left;
  list-style: none;
}
#timerz-nav .menu .glyphicon {
  margin-right: 5px;
  margin-left: -25px;
}
#timerz-nav .menu {
  margin: 0;
}
#timerz-nav .menu li a,
#timerz-nav .account a {
  text-decoration: none;
  padding: 15px;
  display: block;
  color: #ccc;
  font-size: 1.2em;
  font-weight: 300;
}
#timerz-nav .account {
  float: right;
}
#timerz-nav .compacted {
  display: none;
}
#timerz-nav .menu a:hover,
#timerz-nav .menu .active,
#timerz-nav .account .active,
#timerz-nav .account a:hover {
  /*background-color: #5596cf;
  color: #fff;*/

  color: #333;
}
#timerz-nav .menu .account {
  display: none;
}
#timerz-nav.compact {
  background-color: transparent;
}
#timerz-nav.compact .glyphicon {
  display: inline-block;
}
#timerz-nav.compact .ticklogo,
#timerz-nav.compact .ticklogo:hover,
#timerz-nav .ticklogo:hover {
  background-color: #428bca;
  color: #fff;
}
#timerz-nav.compact .ticklogo span.trans,
#timerz-nav .ticklogo:hover span.trans {
  color: #428bca;
}
#timerz-nav.compact .mytimers,
#timerz-nav.compact .mytimers:hover,
#timerz-nav .mytimers:hover {
  background-color: #fff;
  color: #333;
}
#timerz-nav.compact .menu {
  clear: both;
  padding: 0;
  display: none;
}
#timerz-nav.compact .menu li {
  float: none;
}
#timerz-nav.compact .menu li a,
#timerz-nav.compact .account a {
  font-size: 1em;
  font-weight: normal;
}
#timerz-nav.compact .menu li a {
  color: #fff;
  padding: 10px 30px 10px 40px;
  opacity: .9;
  background-color: #428bca;
}
#timerz-nav.compact .menu a:hover,
#timerz-nav.compact .menu .active {
  opacity: 1;
}
#timerz-nav.compact .menu .active {
  background-color: #428bca;
  font-weight: bold;
}
#timerz-nav.compact .account {
  display: none;
}
#timerz-nav.compact .menu > .account {
  display: block;
}
#timerz-nav.compact .compacted {
  display: block;
}
/* Timer form
-------------------------------------------------- */
form {
  font-size: 1.3em;
  line-height: 2em;
  font-weight: normal;
}
form label {
  line-height: 1.4em;
}
form .form-control {
  font-size: 1em;
  padding: .5em .85em;
  height: auto;
  border-radius: 6px;
}
form .help-block {
  font-weight: 300;
}
form .error {
  display: none;
}
form .has-error .error {
  display: block;
}
form label,
form .required label .text-muted {
  font-weight: normal;
}
form .required label {
  font-weight: bold;
}
form .checkbox {
  line-height: normal;
  margin-bottom: 1.5em;
}
.timer-form .additional-switch {
  display: none;
}
.promo .timer-form .additional-switch {
  display: block;
}
.timer-form .additional-switch a {
  text-decoration: none;
}
.promo .timer-form .additional-switch .additional-hide {
  display: none;
}
.promo .timer-form .additional {
  display: none;
}
.promo .timer-form .form-group:last-child {
  margin-bottom: 0;
}
.timer-form .progress {
  display: none;
  margin-top: 10px;
}
.timer-form .fileinput-button .change,
.timer-form .cover .delete,
.timer-form.has_cover .fileinput-button .choose {
  display: none;
}
.timer-form .fileinput-button .choose,
.timer-form.has_cover .cover .delete,
.timer-form.has_cover .fileinput-button .change {
  display: inline;
}
/* Timer
-------------------------------------------------- */
.timer {
  text-align: center;
  background-size: cover;
}
.timer.expired .cmt-container {
  cursor: pointer;
}
.timer-container {
  margin: 20px 0;
}
.timer .watch {
  margin-top: 1em;
}
.timers .timer-container {
  margin: 30px 0;
}
.timers.example .timer-container {
  margin-bottom: 15px;
}
.timers .timer-container:first-child {
  margin-top: 10px;
}
.has_timerlink .timer {
  cursor: pointer;
}
.homepage .has_timerlink .timer {
  cursor: default;
}
.timer h1 {
  font-weight: normal;
}
.timer .tick {
  font-size: 6em;
  line-height: 1.5em;
  margin: .5em 0;
}
.covered .timer .tick {
  opacity: .8;
}
.timer .message {
  margin-bottom: 1em;
}
.timer .caption,
.timer .message {
  color: #333;
  display: inline;
  line-height: 1.4em;
  font-size: 2.6em;
}
.timer .description {
  text-align: justify;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 1.2em;
  padding-bottom: 2em;
}
.covered .timer .caption,
.covered .has_timerlink .caption,
.covered.has_timerlink .caption,
.covered .timer .message,
.covered .has_timerlink .message,
.covered.has_timerlink .message {
  color: #fff;
  opacity: .8;
}
.covered .timer .caption,
.covered .has_timerlink .caption,
.covered.has_timerlink .caption,
.covered .timer .message,
.covered .has_timerlink .message,
.covered.has_timerlink .message {
  padding: 5px 15px;
}
.covered .timer .caption,
.covered .timer .time span,
.covered .timer .d,
.covered .timer .message {
  background-color: #333;
  box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.75);
}
.timer .time {
  white-space: nowrap;
}
.timer .tick .name {
  font-size: 0.3em;
}
.timer .time span,
.timer .d {
  background-color: #444;
  box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.75);
  color: #fff;
  padding: 5px 15px;
  font-weight: bold;
}
.timer-container .about-container {
  color: #999;
  float: right;
  text-align: left;
  font-weight: 300;
}
.timer-container .about-wrapper {
  margin-top: 1em;
}
.timers .timer-container .about-container {
  float: none;
  text-align: right;
}
.timers .timer-container .about-container ul li {
  display: inline;
  padding: 0 5px;
  white-space: nowrap;
  line-height: 1.7em;
}
.timers .timer-container .about-container ul li,
.timers .timer-container .about-container a {
  color: #333;
}
.timers .timer h1,
.timers .timer .message {
  font-weight: 300;
}
.timer-container .about-container ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.timers .about-container {
  opacity: .5;
}
.timers .about-container ul {
  display: block;
  padding: 5px 0px;
}
.timer-container .about-container a {
  color: #666;
}
.covered .timer .about-container a {
  color: #fff;
}
.covered .timer .about-container ul {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  opacity: .75;
  line-height: 1.5em;
}
.covered .timer .about-container ul:hover,
.covered .has_timerlink:hover .about-container ul,
.covered.has_timerlink:hover .about-container ul {
  opacity: .9;
}
.has_timerlink,
.has_timerlink:hover {
  text-decoration: none;
}
.timers .has_timerlink:hover .about-container {
  opacity: 1;
}
.has_timerlink:hover .caption {
  color: #000;
}
.has_timerlink:hover .time span,
.has_timerlink:hover .d,
.covered .has_timerlink:hover .caption,
.covered.has_timerlink:hover .caption,
.covered .has_timerlink:hover .message,
.covered.has_timerlink:hover .message {
  background-color: #222;
  color: #fff;
}
.timer .timerlink {
  text-decoration: none;
}
.timer .dynamic-under {
  background-color: #fff;
  /*opacity: .5;*/

  padding-bottom: 1em;
}
.covered .timer .dynamic-under {
  padding-top: 15px;
}
.timer .comments {
  /*margin-top: 1em;*/

}
.timer hr {
  margin: 2em 0;
}
.covered .only-uncovered {
  display: none;
}
.privacy-profile {
  color: #666;
}
.privacy-link {
  color: #428bca;
}
.privacy-onlyme {
  color: red;
}
/* Timers
------------------------- */
.timers .timer {
  text-align: center;
  padding: 20px;
  opacity: .9;
  font-size: .75em;
  border-left: #eee solid 10px;
  background-color: #f9f9f9;
}
.timers .has_timerlink:hover .timer {
  opacity: 1;
  border-color: #ccc;
  background-color: #eee;
}
form .timers .timer {
  font-size: .5em;
}
.timers.example .timer,
.timers.example .timer:hover {
  border: #ccc solid 1px;
  opacity: 1;
  min-height: 250px;
  border-radius: 6px;
  background-color: #fff;
}
.timers .covered .timer {
  padding: 30px 20px 10px 20px;
  border: none;
}
.timers.example .covered .timer {
  border: none;
}
.timers .timer .tick {
  margin-bottom: 10px;
}
/* Userpage
-------------------------------------------------- */
.user .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.user .menu li {
  display: block;
}
.user .menu a {
  display: block;
  padding: 10px;
  font-size: 1.2em;
  color: #666;
  text-decoration: none;
  border-left: #eee solid 10px;
}
.user .menu a.active,
.user .menu a:hover {
  border-left: #ccc solid 10px;
  background-color: #eee;
}
/* Settings
-------------------------------------------------- */
.settings .setting {
  margin-bottom: 1em;
  font-size: 1.2em;
}
.settings .setting .name {
  font-weight: 600;
}
/* Watchers
------------------------- */
.watchers {
  font-size: 1.2em;
}
/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5em 0;
  /* Space out the Bootstrap <hr> more */

}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: normal;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 3.5em;
  margin: 1em 0;
  color: #555;
}
.featurette .lead {
  font-size: 2.75em;
  color: #999;
}
.featurette ul {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.1em;
  margin: 0;
}
.featurette ul li {
  margin: 1em 0;
  list-style-type: circle;
  color: #555;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 1199px;
  }
  #timerz-nav {
    font-size: 1em;
  }
  #timerz-nav .menu {
    padding-left: 10px;
  }
  #timerz-nav .menu li a,
  #timerz-nav .account a {
    padding: 10px;
    line-height: 2em;
  }
  .featurette {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 1000px) {
  .container .promo {
    font-size: 13px;
  }
  .timer .tick {
    font-size: 5em;
  }
}
@media only screen and (max-width: 991px) {
  #content > .container {
    padding-top: 60px;
  }
  .container {
    max-width: 800px;
  }
  .featurette {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
  .container,
  #content > .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .featurette {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .container .promo {
    font-size: 12px;
  }
  .timer .tick {
    font-size: 4.5em;
  }
  .featurette {
    font-size: 10px;
  }
  #timerz-nav {
    position: static;
  }
  #timerz-nav .menu {
    position: absolute;
    z-index: 1040;
    top: 50px;
  }
  #content > .container,
  .covered #content > .container {
    padding-top: 15px;
  }
  .timer-container .about-container {
    float: none;
    text-align: right;
  }
  .timer-container .about-container ul {
    display: inline;
  }
  .timer-container .about-container ul li {
    display: inline;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 1.7em;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .timers .timer-container:first-child {
    margin-top: 0;
  }
  .settings .setting .name {
    text-align: right;
  }
}
@media only screen and (max-width: 479px) {
  h1 {
    font-size: 1.8em;
  }
  .page-header {
    margin: 0;
  }
  .page-header .lead {
    margin-bottom: 10px;
  }
  .timer-form {
    font-size: 14px;
  }
  .container .promo {
    font-size: 11px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 15px;
  }
  .timer {
    font-size: .75em;
  }
  .timers .timer .tick {
    font-size: 3.5em;
  }
  .container,
  #content > .container,
  .row,
  .col {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .timer-inner {
    padding: 0 15px;
  }
  .timers .timer,
  .timers .covered .timer {
    padding: 10px;
  }
  .notimers {
    padding: 0 1em;
  }
  form .timers .timer {
    font-size: .75em;
  }
  .featurette {
    font-size: 8px;
    padding: 0 1em;
  }
}
